<div class="well">
    <!-- menu de panier-->
    <li class="nav nav-list"><a class="brand" href="{{ path('panier') }}">Panier</a> </li>
    <ul class="nav nav-list">
        <li id="etats" class="nav nav-list"> </li>

    </ul>
</div>