<div class="well">
    <!-- menu de utilisateur conecter-->
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
        </li>
    </ul>
</div>